
	@font-face {
		font-family: "ProximaNovaRegular";
		src: url("../fonts/ProximaNovaBlack.otf") format("opentype");
		font-weight: 900;
		font-style: normal;
	}
		

	@font-face {
		font-family: "ProximaNovaRegular";
		src: url("../fonts/ProximaNovaThin.otf") format("opentype");
		font-weight: 200;
		font-style: normal;
	}
	

	
	@font-face {
		font-family: "ProximaNovaRegular";
		src: url("../fonts/ProximaNovaSemibold.otf") format("opentype");
		font-weight: 600;
		font-style: normal;
	}
	
	@font-face {
		font-family: "ProximaNovaRegular";
		src: url("../fonts/ProximaNovaRegular.otf") format("opentype");
		font-weight: 400;
		font-style: normal;
	}
	
	@font-face {
		font-family: "ProximaNovaRegular";
		src: url("../fonts/ProximaNovaLight.otf") format("opentype");
		font-weight: 300;
		font-style: normal;
	}
	
	@font-face {
		font-family: "ProximaNovaRegular";
		src: url("../fonts/ProximaNovaBold.otf") format("opentype");
		font-weight: 700;
		font-style: normal;
	}
	