@import 'libs/normalize.css';
@import 'base/variables';
@import 'libs/slider';
@import 'libs/jquery.formstyler';
@import 'libs/jquery.formstyler.theme';
@import 'libs/magnific';

.del {
  width: 200px;
  height: 200px;
  background: #000;
}

* {

  font-family: "ProximaNovaRegular";
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;

}

.container.cont-header{
 padding: 0;
}
// .container.cont-none{
// padding: 0;
// }
.container {
 max-width: 1920px;
  margin: 0 auto;
  position: relative;
  z-index: 99999;
}

html,
body,
.slider-top {
  position: relative;

}
.body{
  overflow-x: hidden;
}
.swiper-slide.active-le {
  width: 200px !important;
}
.slider-top .swiper-slide{
  // cursor: pointer;
}
.gallery-thumbs .swiper-slide{
  cursor: pointer;
}
.gallery-thumbs .swiper-slide-thumb-active {
cursor: default;
}
.header {
  color: #Fff;
  background-color: #000;
  min-height: 80px;
  position: fixed;
  z-index: 999900009;
  width: 100%;
  opacity: .9;

  &__menu-info-wrapper {
    display: flex;
    justify-content: space-between;

  }

  &__menu-list-wrapper {
    display: flex;
    align-items: center;
    max-width: 1280px;
    justify-content: space-between;
    width: 100%;
   margin-left: 55px;
  }

  &__menu-items-mobile {
    display: none;
    color: #fff;
  }

  &__menu-item-mobile {
    padding: 10px 40px;

    & a {
      color: #fff;
      opacity: .6;
    }
  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    // background-image: url(../icons/logo.svg);
    width: 200px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__menu-items {
    display: flex;
    align-items: center;
 
  }

  
   
    &__menu-item-link{
      color: #fff;
      font-size: 16px;
      line-height: 20px;
      opacity: .6;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        color: #E2BC52;
        opacity: 1;
    }
   
  }
  

  &__menu-item:not(:last-child) {

    margin-right: 80px;
  }

  &__menu-tell {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
  }

  &__menu-email {
    font-size: 14px;
    line-height: 16px;
    color: rgba($color: #ffff, $alpha: .5);
    font-weight: 400;
  }

  &__menu-icon {
    display: flex;
    align-items: center;
  }

}
.page-design__top-wrapper-text{
  position: absolute;
  left: 0;
  top: 50%;
}
.header__menu-item-link.active-top {
  color: #E2BC52;
  opacity: 1;
}
#mail-icon {
  fill: #E2BC52;
  width: 20px;
  height: 20px;
  transition: all .3s;

}

#phone-icon {
  fill: #E2BC52;
  width: 20px;
  height: 20px;
  transition: all .3s;

}

.icon-fon.active {
  background-color: #E2BC52;
}

#phone-icon.active {
  fill: #000;
}

#mail-icon.active {
  fill: #000;
}

.icon-fon {
  cursor: pointer;
  transition: all .3s;
  padding: 28px 30px;
  border-right: 1px solid rgba($color: #ffff, $alpha: .2);
  border-left: 1px solid rgba($color: #ffff, $alpha: .2);
  max-width: 80px;
   max-height: 80px;
}


.header__burger {
  position: relative;
  height: 80px;
  width: 114px;
  cursor: pointer;

}

.header__burger.active {
  background-color: #E2BC52;
}

.burger.active {
  width: 40px;
}

.burger {
  transition: all .3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 999;
  width: 26px;
  height: 12px;

}

.burger span,
.burger span:before,
.burger span:after {
  width: 100%;
  position: absolute;
  height: 2px;
  background: #8e7037;
  display: block;
  transition: .3s;
  border-radius: 5px;
}

.burger span {
  top: -5px;
}

.burger span:after {
  content: "";
  bottom: -10px;

}

.burger span.active:before {
  content: "";
  top: 5px;
  transform: rotate(45deg);
  transition: all .3s;

}

.burger span.active:after {
  content: "";
  bottom: -5px;
  transform: rotate(-45deg);
  transition: all .3s;
}

.burger span.active {
  background: rgba(255, 255, 255, 0);
  transition: all .3s;
}

.page-wrapper {
  padding-top: 65px;
}

.slider-top {
  padding: 15px 0 0;
  max-width: 1920px;
  z-index: 99999;
  margin: 0 auto;

  &__inner {
    display: flex;
    height: 100%;
    background-color: rgba($color: #0000, $alpha: .2)
  }

  &__mouse {
    display: block;
    cursor: pointer;
    transition: all .3s;
    height: auto;
    width: 114px;
    background-color: rgba($color: #000, $alpha: .1);

  }

  &__mouse-icon {
    transition: all .3s;
    margin-top: 256px;
  }

  &__text {
    color: #fff;
    transition: all .3s;
    transform: rotate(90deg);
    font-size: 18px;
    line-height: 20px;
    white-space: nowrap;



  }

  &__mouse-inner {
    text-align: center;
    margin-top: 256px;
  }

  &__wrapper {
    padding: 234px 0 308px 200px;
  }

  &__wrapper-title {
    color: #fff;
    font-size: 72px;
    line-height: 82px;
    max-width: 759px;
    font-weight: 600;

  }

  &__wrapper-btn {
    display: inline-block;
    margin-top: 60px;
    padding: 20px 46px;
    background-color: #000;
    color: #E2BC52;
    transition: all .3s;
    font-size: 20px;
    line-height: 22px;

    &:hover {
      color: #000;
      background-color: #E2BC52;
    }
  }
}

#mouse-icon {
  transition: all .3s;
  fill: #fff;
  height: 52px;
}

#mouse-icon.active {
  fill: #E2BC52;
}






.slider-top__text.active {
  color: #E2BC52;
}

.slider-top__mouse.active {
  background-color: rgba($color: #000, $alpha: .5)
}

#arrow-icon {
  fill: rgba($color: #ffff, $alpha: .5);
  width: 20px;
  height: 20px;
  transform: rotate(180deg)
}

.slide-top__wer-arrow {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.swiper-button-next {
  width: 46px;
  height: 35px;
  position: relative;
  outline-style: none;

  &:hover {
    &:after {
      background-image: url(../icons/arrow-slide-hover.svg);
      
    }
  }
}

.aroow-mouse #mouse-arrow {

  transform: rotate(0);
}

.swiper-button-prev {
  width: 46px;
  height: 35px;
  position: relative;
  margin-right: 20px;
  outline-style: none;

  &:hover {
    &:after {
      background-image: url(../icons/arrow-slide-hover.svg);
    }
  }
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../icons/arrow-slide.svg);
  width: 40px;
  height: 35px;
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: '';
  position: static;
  top: 50%;
  left: 50%;
  background-image: url(../icons/arrow-slide.svg);
  width: 40px;
  height: 35px;
  background-size: cover;
  background-repeat: no-repeat;

}

.slider-navig {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-left: 320px;
  border-radius: 10px;

  // position: absolute;
  // bottom: 20px;
  // left: 280px;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: static;
  font-weight: 700;
}

.swiper-pagination-current {
  color: #E2BC52;
  font-weight: 700;

}

.swiper-pagination-total {
  color: #000;
  font-weight: 700;
}

.slider-btn {
  display: flex;
  align-items: center;
  margin-right: 18px;
  justify-content: space-between;

}

.swiper-pagination {
  color: #000;
  font-size: 16px;
  line-height: 21px;
font-weight: 700;
font-family: "ProximaNovaRegular";


}
.tabs-service-content-block-text{
  margin-top: 30px;
}
 .swiper-button-prev.swiper-button-white{
  margin-right: 18px;
}

#mouse-arrow {
  width: 27px;
  height: 27px;
  fill: #fff;
  transform: rotate(180deg);
}

#mouse-arrow.active {
  fill: #E2BC52;
}

.slide-top__wer.active {
  display: none;
}

.gallery-thumbs .swiper-slide {
  transition: all .3s;
}

// .gallery-thumbs .swiper-slide.active {
//   width: 386px !important;
// }




.swiper-slide {
  background-size: cover;
  background-position: center;
  background-color: #242116BA;

}

.swiper-container-thumbs {
  max-width: 1600px;
  height: 300px;
  margin-left: auto !important;
  margin-right: 0 !important;
}

.gallery-top {
  height: auto;
  width: 100%;

}

.swiper-top {
  max-height: 900px;
}

.gallery-thumbs {
  height: 202px;
  box-sizing: border-box;
  padding: 10px 0;

  // position: absolute;
  // bottom: 0px;
  // right: 15px;
}

.gallery-thumbs .swiper-slide {
  width: 174px !important;
  height: 202px;
  margin-right: 0px !important;
  ;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  width: 386px !important;
}



.gallery-thumbs .swiper-slide-thumb-active .slide-top__wer {
  display: none;
}

.slide-top__wer {
  position: relative;
  background-color: rgba($color: #000000, $alpha: .5);
  width: 100%;
  height: 100%;
  ;
}

.slide-top__wer-text {
  max-width: 150px;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: rgba($color: #ffff, $alpha: .5);

  font-weight: normal;
  font-style: normal;
}

.slider-inner {
  display: flex;
  justify-content: space-between;
  margin-top: -120px;
}

.page-block-img {
  z-index: 999;
  position: relative;


}
.page-wrapper-line-elips{
  position: absolute;
  content: "";
  left: -14px;
  bottom: 0;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-image: url(../icons/line-trans.svg);
}
.page-wrapper-line-img {

  &::after {
    top: -160px;
    right: 0px;
    position: absolute;
    content: "";
    background-image: url(../img/map-img-1.png);
    width: 513px;
    height: 348px;
    background-repeat: no-repeat;

  }

  &::before {
    top: 343px;
    left: 0px;
    position: absolute;
    content: "";
    background-image: url(../img/map-img-2.png);
    width: 288px;
    height: 891px;
    background-repeat: no-repeat;

  }
}
.container.contr{
  padding: 0;
}
.page-wrapper-line {
 max-width: 1920px;

  margin: 0 auto;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;


}

.gal-rer .swiper-slide.hover{
  width: 174px !important;
}
.gal-rer .hover.active{
  width: 386px !important;
}
.page-wrapper-line-1 {
  height: 100%;
  width: 320px;

}
.footer .container{
  padding: 0;
}

.page-wrapper-line-2 {
  height: 100%;
  position: relative;
  width: 320px;

  &::after {
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    width: 1px;
    background-color: rgba($color: #000000, $alpha: .1);
  }
}

.page-wrapper-line-inner {
  display: flex;
  justify-content: space-between;
  width: 1280px;
}

.page-block {
  position: relative;

  &__inner {
    max-width: 1280px;
    margin: 160px auto 0;
    position: relative;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: space-around;

  }

  &__item {
    max-width: 340px;
  }

  &__item-content {
    max-width: 198px;
    margin: 0 auto;
  }

  &__transform {
    white-space: nowrap;
    transform: rotate(90deg);
    font-size: 32px;
    line-height: 36px;
font-weight: 700;
    font-style: normal;
    z-index: 999999999999999999;
    position: absolute;
    top: 83px;
    width: 200px;
    left: -96px;
    display: flex;


  }

  &__transform-text {
    font-weight: 700;
  }

  &__transform-line {
    width: 40px;
    top: 19px;
    height: 4px;
    background-color: #E2BC52;
    position: absolute;
    left: 183px;
    z-index: 999;
  }

  &__number {
    color: #555555;
    opacity: 0.5;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }

  &__title {
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    
  }

  &__text {
    margin-top: 30px;
    font-size: 14px;
    line-height: 18px;
    color: rgba($color: #000000, $alpha: .5);
    transition: all .3s;
  
  }

  &__map {
    padding: 0 30px;
    width: 100%;
    z-index: 9999;
    position: relative;
    margin-top: 118px;
  }

  &__img {
    background-image: url(../icons/map.svg);
    width: 100%;
    height: 750px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__map-title {
    font-size: 56px;
    text-align: center;
    padding-top: 447px;
    font-weight: 700;
  }

  &__dots-1 {
    position: absolute;
    bottom: 120px;
    left: 103px;
    width: 35px;
    height: 35px;
    transition: all .3s;
  }

  &__dots-2 {
    position: absolute;
    bottom: 216px;
    left: 165px;
    width: 35px;
    height: 35px;
    transition: all .3s;
  }

  &__dots-3 {
    position: absolute;
    top: 315px;
    left: 175px;
    width: 35px;
    height: 35px;
    transition: all .3s;
  }

  &__dots-4 {
    position: absolute;
    bottom: 277px;
    left: 287px;
    width: 35px;
    height: 35px;
    transition: all .3s;
  }

  &__dots-5 {
    position: absolute;
    top: 387px;
    left: 411px;
    width: 35px;
    height: 35px;
    transition: all .3s;
  }

  &__dots-6 {
    position: absolute;
    bottom: 171px;
    left: 459px;
    width: 35px;
    height: 35px;
    transition: all .3s;
  }

  &__dots-7 {
    position: absolute;
    bottom: 317px;
    left: 618px;
    width: 35px;
    height: 35px;
    transition: all .3s;
  }

  &__dots-8 {
    position: absolute;
    bottom: 48px;
    left: 539px;
    width: 35px;
    height: 35px;
    transition: all .3s;
  }

  &__dots-9 {
    position: absolute;
    bottom: 158px;
    left: 666px;
    width: 35px;
    height: 35px;
    transition: all .3s;
  }

  &__dots-10 {
    position: absolute;
    top: 288px;
    left: 633px;
    width: 35px;
    height: 35px;
    transition: all .3s;
  }

  &__dots-10 {
    position: absolute;
    top: 288px;
    left: 633px;
    width: 35px;
    height: 35px;
    transition: all .3s;
  }

  &__dots-11 {
    position: absolute;
    top: 288px;
    right: 253px;
    width: 35px;
    height: 35px;
    transition: all .3s;
  }

  &__dots-img {
    position: absolute;
    width: 34px;
    height: 34px;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
  }

  &__dots-elips {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    transition: all .3s;

    &:after {
      border-radius: 50%;
      background-color: transparent;
      content: "";
      width: 35px;
      height: 35px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .3s;
    }

    &:before {
      border-radius: 50%;
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .3s;
    }
  }

}

.page-block__dots-text {}


.page-block__dots-elips.active {
  background-color: rgba($color: #E2BC52, $alpha: .1);

  &:after {
    background-color: rgba($color: #E2BC52, $alpha: .2);
  }

  &:before {
    background-color: rgba($color: #E2BC52, $alpha: .3);

  }
}

.page-block__dots.active {
  transform: scale(1.1);
}
.page-block__text.active{
  color: #000;
}
.page-block__dots-text.active {
  display: block;
}

.page-block__dots-text {
  transition: all .3s;
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translate(-50%);
  padding: 25px 55px;
  box-shadow: 0px 10px 60px #A4852E66;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  display: none;

  &:after {
    content: "";
    bottom: -13px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    position: absolute;
    background-image: url(../icons/arrow-bottom.svg);
    z-index: 999;
    background-size: contain;
    background-repeat: no-repeat;
  }
}


.staffer__right-info-wrapper{
  align-items: center;
}
.tabs__caption.tabs-home{
margin-left: 80px;
}
.tabs-center.tabshome{
background-color: transparent;
}
.tabs-center {
  max-width: 1280px;
  margin: 100px auto 0;
  position: relative;
  z-index: 999;
  background-color: #fff;
}

.tabs-flex {
  display: flex;
  justify-content: space-between;
}

.tabs-item {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-right: 35px;
  position: relative;
  opacity: .5;
  cursor: pointer;
  max-width: 365PX;
  transition: all .3s;
  font-weight: 600;
  display: flex;
  &::after {
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    background-image: url(../icons/arrow-link.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .5;
    transition:  all .3s;
   
  }
  & span{
    margin-right: 15px;
    transition: all .3s;
    font-weight: 600;
    display: block;
  }
  &:hover{
    opacity: 1;
    &:after{
      background-image: url(../icons/arrow-link-hover.svg);
      opacity: 1;
    }
    & span{
      color: #e2bc52;
    }
 
  }
}

.tabs-item:not(:first-child) {
  margin-top: 33px;
}

.tabs-item.active {
  opacity: 1;
  color: #000;


  &::after {
    opacity: 1;
    // background-image: url(../icons/arrow-link-hover.svg);
  }
  & span{
    color: #000;
    opacity: 1;
  }
  &:hover{
    & span{
      color: #E2BC52;
    }
  }
}


.tabs__caption {
  max-width: 495px;
  background-color: #fff;
}

.tabs__content-wrapper {
  max-width: 800px;
}
.tabs__content-home{
  position: relative;
  z-index: 99999;
  background-image: url(../img/top-bg-1.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .3s;
  background-position: center;

}
.tabs__content {
  display: none;
  position: relative;
  width: 60%;


}
.tabs__content.tabs__content-index {
  
  &::after{
    position: absolute;
    content: "";
    background-image: url(../img/service-mask-1.png);
    height: 335px;
    width: 335px;
    right: -37%;
    top: -32%;
    transform: translate(-50%);
    background-size: contain;
    right: -43%;
    top: -27%;
  
  }
}

.tabs__content-box {
  position: absolute;
  top: 100px;
  left: -70px;
  max-width: 450px;
  background-color: #fff;
  padding: 28px 30px;
}

.tabs__content-pagination {
  text-align: right;
  font-size: 16px;
  font-weight: 700;

  & span {
    color: #E2BC52;
    font-weight: 700;
  }

}

.tabs__content-title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  max-width: 350px;
  margin-top: 5px;
}

.tabs__content.active {
  display: block;
}
.tabs__content-home.active-hov {
    background-size: 180%;
}

.tabs__content-text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;

  & p {
    margin-top: 25px;
  }
}

.tabs__content-btn {
  cursor: pointer;
  padding: 20px 58px;
  margin-top: 20px;
  background: #000;
  color: #E2BC52;
  display: inline-block;

  &:hover {
    background-color: #E2BC52;
    color: #000;
    ;
  }
}

.text-o {
  left: 212px;
}

.text-v {
  left: 130px;
}

.page-wrapper-no:before,
.page-wrapper-no:after {
  height: 0;
  width: 0;
}



.office {
  max-width: 1920px;
  margin: 200px auto 0;
  display: flex;

  &__info {
    display: flex;
    max-width: 640px;
    margin-left: 320px;
  }

  &__face {
    max-width: 960px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 999;
  }

  &__img {
    max-width: 100%;
    height: 100%;
  }

  &__info-left {
    width: 320px;
    padding: 20px 30px 20px 60px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      width: 35px;
      height: 100%;
      background-image: url(../icons/line-min.svg);
    }
  }

  &__info-right {
    width: 320px;
    padding: 20px 30px 20px 60px;
  }

  &__info-left-title {
    padding-left: 15px;
    font-size: 16px;
    line-height: 20px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-repeat: no-repeat;
      background-size: contain;
      top: 7px;
      background-image: url(../icons/list.svg);
      left: 0;
  
    }
  }

  &__info-left-text {
    font-size: 32px;
    line-height: 36px;
    margin-top: 5px;
    font-weight: 700;
  }

  &__info-left-item:not(:first-child) {
    margin-top: 110px;
  }

  &__info-right {
    background: #000;
    padding: 80px 40px 48px 40px;
    position: relative;

    &:after {
      content: '';
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba(#fff, .3);
    }

    &:before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      top: 50%;
      transform: translate(-50%, -50%);
      right: -31px;
      z-index: 9999;
      background-size: contain;
      background-image: url(../icons/line-elips.svg);
    }

  }

  &__info-right-item:not(:first-child) {
    margin-top: 130px;
  }

  &__info-span {
    color: #FFF;
    font-size: 20px;
    line-height: 22px;
  }

  &__info-span:not(:first-child) {
    margin-top: 10px;
  }

  &__info-span-color {
    color: #E2BC52;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
  }

  &__info-right-item-title {
    color: rgba(#fff, .7);
    font-size: 16px;
    line-height: 24px;
  }

  &__info-right-item-name {
    padding-left: 15px;
    line-height: 24px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../icons/location.svg);
    }
  }

  &__info-right-item-name:not(:first-child) {
    margin-top: 15px;
    ;
  }
}





.swiper-button-prev,
.swiper-button-next {
  position: static;
  margin-left: 10px;
}


.slider,
.slider-thanks,
.slider-gall {
  z-index: 9999;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slides-wrap,
.slides-wrap-thanks {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  flex-shrink: 0;
  position: relative;
}

.slider-container {
  max-width: 1280px;
  margin-left: 320px;
}
img.mfp-img {
  padding: 70px 0 40px;
 
}
.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {

 left: 0;

}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close{
  cursor: pointer;
}
.thanks-container {
  max-width: 965px;
  margin-left: auto;
}

.people {
  &__info {
    display: flex;
    width: 640px;
  }

  &__box {
    margin-top: 220px;
    width: 320px;
  }

  &__box-wrapper {
    padding: 20px 60px;
  }

  &__img {
    max-width: 320px;
    transition: all .3s;
    background-size: cover;
  }

  &__img-text {
    display: none;

  }

  &__title {
    max-width: 168px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  &__text {
    max-width: 200px;
    margin-top: 20px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    color: rgba(#000, .5);

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-repeat: no-repeat;
      background-size: contain;
      top: 3px;
      background-image: url(../icons/list.svg);
      left: 0;
    
    }
  }
}

.people__img-text.active {
  display: block;
}

.people__img.active {
  display: none;
}

.swiper-slide-next .people__img {
  max-width: 323px;
}

.people-btn {

  display: flex;
}

.people-btn .swiper-button-next {
  background-color: transparent;
  border: none;
}

.people-btn .swiper-button-prev {
  background-color: transparent;
  border: none;
}

.people-btn .swiper-button-prev:after,
.swiper-button-next:after {
  top: 0;

}

.people-btn .swiper-button-prev,
.swiper-button-next {
  position: relative;

}

.people-pag,.thanks-pag {
  margin-left: 50px;
  margin-top: 6px;
}

.slider-people-block {
  margin-top: 160px;
}

.people-nav {
  position: absolute;
  bottom: 0px;
  left: 42px;
  display: flex;
  height: 34px;
}

.slider-thanks-block .text-o {
  left: 234px;
}

.slider-thanks-block .page-block__transform-text {

  z-index: 100000;
  position: relative;
}

.slider-after {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    height: 272px;
    width: 495px;
    background-size: contain;
    left: 0px;
    z-index: 9990;
    background-image: url(../img/map-img-3.png);
  }
}

.slider-thanks-block {
  margin-top: 160px;


}


.thanks {
  &__inner {
    display: flex;
    max-width: 1600px;
    margin-left: 320px;
    z-index: 9999;
    position: relative;

    padding-bottom: 205px;
  }

  &__content {
    max-width: 450px;
    margin: 0 77px 0 60px;;
    min-height: 417px;
    position: relative;
    background-color: #fff;

  }

  &__text {
    background-color: #fff;
    font-size: 16px;
    max-width: 418px;
    line-height: 24px;
  }

  &__item {
    background-color: #7B7B7B;
    padding: 24px;
    transition: all .3s;
  }

  &__nav {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    height: 34px;
    // width: 200px;
  }

}
.thanks__item-loop{
  position: absolute;
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  transition: all .3s;
  cursor: pointer;

}
.thanks__item.hover{

 background-color: #000;
}
.tanks__img.hover{
  opacity: .5;
}
.thanks__item-loop.hover{
  display: block;
}


.footer {
  z-index: 9999;
  position: relative;
  background-color: #000;



  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 35px;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: repeat;
    background-image: url(../icons/line-footer.png);
    z-index: 99999;
  }

  &__page {
    max-width: 1920px;
    background-image: url(../img/footer-bg.png);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;

  }

  &__wrapper {
    background-repeat: no-repeat;
    background-color: rgba($color: #0000, $alpha: .9);
  }

  &__inner {
    max-width: 1600px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    padding: 110px 15px 86px;
    display: flex;
    color: #FFF;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-right: 169px;
  }

  &__menu-link {
    color: rgba($color: #ffff, $alpha: .5);
    font-size: 16px;
    line-height: 28px;
    transition: all .3s;

    &:Hover {
      color: #e2bc52;
    }
  }

  &__menu-link:not(:first-child) {
    margin-top: 30px;
  }

  &__adress-item {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    padding-left: 25px;
    max-width: 300px;
    position: relative;
    &:After{
      content: '';
      position: absolute;
      left: 0;
      top: 0px;
      background-image: url(../icons/adress.png);
      background-repeat: no-repeat;
      width: 11px;
      height: 15px;
      background-size: contain;
    }
  }
&__adress-item-time{
  &:After{
    background-image: url(../icons/time.png);
    width: 14px;
    height: 15px;
  }
  
}
&__menu-item:not(:first-child){
  margin-top: 30px;
}
  &__adress-item:not(:first-child) {
    margin-top: 24px;
  }



  &__menu-tell {
    color: #fff;
  }

  &__menu-email {
    color: rgba($color: #fff, $alpha: .5)
  
  }

  &__nav {
    background-color: #404040;
    height: 100%;
    z-index: 99;
    display: block;
  }

  &__logo-email {
    color: rgba($color: #ffff, $alpha: .5);
    margin-top: 28px;
    font-size: 14px;
    line-height: 20px;
  }

  &__email {

  }

  &__email-img {
    display: flex;
  }

  &__email-item:not(:last-child) {
    margin-right: 40px;
    cursor: pointer;
  }
}

#footer-email {
  width: 20px;
  height: 21px;
  fill: #B99530;
}

.footer .slider-top__mouse-icon {
  margin-top: 0;
}

.footer .slider-top__mouse-inner {
  margin-top: 0px;
  padding-top: 111px;
}

.footer .slider-top__text {
  margin-top: 20px;

}

.footer .slider-top__mouse {
  background-color: #404040;
}

.tabs__content-service {
  background-image: none;
 width: auto;
  max-width: 827px;
  position: relative;
  // margin-left: 80px;

}
.tabs-item__num{
  margin-right: 15px;
color: #000000;
font-size: 16px;
font-weight: 600;
line-height: 20px;
transition: all .3s;


}
.mfp-container.mfp-image-holder.mfp-s-ready{
  height: 100%;
}
.tabs-item__num.active{
   color: #e2bc52;
}
.tabs-center-service {
  position: static;
  max-width: 1280px;
  padding-bottom: 208px;
  background-color: transparent;
}

.tabs__caption-service {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  z-index: 9999;
  max-height: 800px;
  background-color: #fff;
  margin-left: 2px;
}

.tabs-item::after {
  background-color: #fff;
}

.tabs__service {
  &-title {
    font-size: 32px;
    line-height: 34px;
    padding-bottom: 30px;
    position: relative;
    font-weight: 700;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 2px;
      background-color: #B99530;
    }
  }

  &-img {
    z-index: 99999;
    position: relative;
    overflow: hidden;
    height: 277px;
    margin-top: 30px;

  }

  &-img-p {
    height: 320px;
    background-size: contain;
    margin-top: 0;
    transition: all .3s;

    &:hover {

      margin-top: -20px;
    }

  }

  &-content-text {
    padding-top: 60px;
    font-size: 16px;
  }

  &-content-list {
    padding-top: 60px;
  }

  &-content-list-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  &-content-list-box {
    margin-top: 30px;
  }

  &-content-list-item:not(:first-child) {
    margin-top: 20px;
  }

  &-content-list-item {
    font-size: 16px;
    line-height: 22px;
  }

  &-content-list-box-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &-content-block {
    margin-top: 56px;
  }

}

.tabs__service-inner {
  height: 100%;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background-image: url(../img/service-mask-1.png);
    height: 335px;
    width: 335px;
    right: -37%;
    top: -32%;
    transform: translate(-50%);
    background-size: contain;


  }
}

.tabs__content-service {
  height: 100%;
  position: relative;
  z-index: 9999;
  background-color: transparent;
}

.top__title {
  font-size: 56px;
  line-height: 65px;
  font-weight: 700;
  margin-bottom: 90px;
}

.form-page {
  z-index: 9999999;
  position: relative;
}

.form-section {
  z-index: 9999;
  position: relative;
}


.form-page {
  max-width: 1280px;
  margin: 0 auto;

  &__inner {
    max-width: 1280px;


    background-size: cover;
    background-image: url(../img/form-mask-2.png);
    background-repeat: no-repeat;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      background-image: url(../img/form-mask-1.png);
      width: 50%;
      height: 100%;
      background-repeat: no-repeat;
      left: 0;
      top: 0;
    }

  }

  &__inner-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 95px;
    background-color: rgba($color: #000, $alpha: .8);
  }

  &__left {
    max-width: 515px;

  }

  &__left-box {
    margin-top: 52px;
  }

  &__right {
    max-width: 515px;
  }

  &__left-title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
  }

  &__left-text {
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
    color: #E2BC52;
  }

  &__section {
    margin-top: 58px;
  }

  &__right-name:not(:first-child) {
    // margin-top: 20px;
  }

  &__right-name {
    align-items: center;
    margin-top: 34px;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 10px;
    display: flex;
    border-bottom: 1px solid rgba($color: #Ffff, $alpha: .7);
    ;
  }

  &__right-syb {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__right-syb-text {
    max-width: 260px;
    font-size: 12px;
    color: rgba($color: #Ffff, $alpha: .4);
  }

  &__link {
    color: rgba($color: #Ffff, $alpha: .4);
    border-bottom: 1px solid rgba($color: #Ffff, $alpha: .4);
  }

  &__btn {
    padding: 20px 82px;
    color: #000;
    font-size: 16px;
    line-height: 18px;
    background-color: #E2BC52;
    transition: all .3s;
    cursor: pointer;
    outline: none;
    border: none;
    margin-right: 20px;

  }

  &__right-info {
    display: flex;
  }

  &__right-name-mar {
    margin-right: 10px;

  }

  &__right-title {
    color: rgba($color: #Ffff, $alpha: .7);
    font-size: 18px;
    line-height: 22px;
    padding-right: 15px;
    ;
  }

  &__textarea {
    margin-top: 10px;
    width: 100%;
    min-height: 140px;
    background-color: rgba($color: #Ffff, $alpha: .1);
    transition: all .3s;
    padding: 10px;
    border: none;

    &:focus {
      background-color: rgba($color: #Ffff, $alpha: .1);
    }
  }

  &__elips {
    position: absolute;
    width: 30px;
    height: 30px;
  }

  .elips-1 {
    top: -15px;
    left: -15px;
  }

  .elips-2 {
    top: -15px;
    right: -15px;
  }

  .elips-3 {
    bottom: -15px;
    left: -15px;
  }

  .elips-4 {
    bottom: -15px;
    right: -15px;
  }
}

.form-page .jq-selectbox li:hover {
  background-color: #E2BC52;
}

.form-input {
  background-color: transparent;
  padding: 5px 8px;
  border: none;
  width: 100%;
  transition: all .3s;
  color: #fff;

}

.form-input-tell {
  background-color: transparent;
  padding: 5px 8px;
  border: none;
  border-radius: 10px;
  transition: all .3s;
  font-size: 18px;
  color: #fff;

  &::placeholder {
    color: rgba($color: #Ffff, $alpha: .7);
    ;
  }
}

.form-input:focus {
  // background-color: rgba($color: #Ffff, $alpha: 1);

}

.form-page .jq-selectbox__select {
  height: auto;
  padding: 0 45px 24px 10px;
  border: 0;
  border-bottom: 2px solid #E2BC52;

  border-radius: 0;
  background: transparent;
  box-shadow: none;
  color: #FFF;
  text-shadow: none;
  min-width: 481px;
  transition: all .5s;

}

.form-page .focused .jq-selectbox__select {
  border: 0;
  border-bottom: 2px solid #E2BC52;


}

.tab-wrap {
  position: relative;

  &:after {
    position: absolute;
    background-image: url(../img/service-mask-2.png);
    width: 645px;
    height: 891px;
    left: 0;
    bottom: 0;
    content: "";
  }
}

.tab-wrap.active {
  &:after {
    height: 0;
    width: 0;
  }
}

.form-page .jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: 0;
}


.form-page .jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 10px;
  height: 10px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../icons/arrow-form.svg);


}



.form-page .jq-selectbox__select-text {
  color: rgba($color: #fff, $alpha: .8);
}

.block-form {
  display: block;
}


.wr-p {
  padding-top: 0;
}
.jq-selectbox li.selected,.jq-selectbox li {
 position: relative;
 z-index: 999999999999;
}


.clients {
  position: relative;
  z-index: 9999;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 145px;
  padding-bottom: 31px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form-section {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    right: 0px;
    top: -50%;
    background-repeat: no-repeat;
    background-image: url(../img/service-mask-3.png);
    width: 426px;
    height: 891px;
    background-size: contain;
  }
}


.page-design {

  z-index: 9999;
  position: relative;
  padding-top: 15px;
  &__inner{
    max-width: 1280px;
    margin: 0 auto;
  }
  &__top-wrapper {
    z-index: 99999;
    position: relative;
    overflow: hidden;
  background-image: url(../img/des-top.png);
  background-position: top;
  transition: all .3s;
  background-color: #000;
    &:hover{
     background-position: bottom;
    
    }
  }
  &__top-text{
    color: #fff;
    font-size: 56px;
    line-height: 60px;
    max-width: 756px;
    padding: 66px 0 73px;
    font-weight: 700;
  }

  &__top-img {
    height: 320px;
    width: 100%;
    background-size: contain;
    margin-top: 0;
    transition: all .3s;

    &:hover {
      margin-top: -20px;
    }
  }

  &__wrapper {
    padding-top: 80px;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__text {
    margin-top: 30px;
    max-width: 1129px;
    color: #000000;
 
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

  }

  &__list {

    display: flex;
    padding-bottom: 190px;
    flex-wrap: wrap;

  }

  &__item {
    margin-top: 60px;
    width: 320px;
  }

  &__title-top {
    margin-top: 50px;
    color: #000000;
 max-width: 728px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }
  &__text {
    margin-top: 18px;
    max-width: 1129px;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;

  }
  &__title{
    max-width: 285px;
  }
}
.page-design__text.des{
max-width: 280px;
color: rgba($color: #000, $alpha: .5);
}
.page-design__text.des.active{

  color: #000;
  }

.rel {
  padding-top: 0px;
}

.des-tab {
  &__title {
    color: #000000;

    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    max-width: 748px;
  }

  &__flex {
    margin-top: 30px;
    justify-content: space-between;
  }

  &__tabs-caption {
    width: auto;
    background-color: #fff;
  }

  &__des {
    width: auto;
    padding-right: 150px;
    align-items: center;
    max-width: 100%;

    &:After {
      // transform: rotate(180deg) ;

    }
  }

  &__des:not(:first-child) {
    margin-top: 20px;
  }

  &__item {
    display: flex;
    width: auto;
    align-items: center;
  }

  &__item-imgs {
    margin-right: 30px;
  }

  &__item-img {
    width: 100px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-text {
    max-width: 170px;
  }

  &__item-title {
    color: #000000;
 
    font-size: 16px;
    font-weight: 500;

    line-height: 16px;

  }

  &__item-s {
    margin-top: 4px;
    color: rgba($color: #000000, $alpha: .5);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding-left: 10px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: cover;
      width: 14px;
      height: 16px;
      background-image: url(../icons/arrow-des.png);
    }
  }
}

.tabs__content-des-tab {

  background-image: none;

  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}


.tabs-gal {

  position: relative;
  z-index: 99999;
  max-width: 960px;
}

.tabs__nav-gal {
  max-width: 640px;
}

.tabs__nav {
  display: flex;
  flex-wrap: wrap;

}

.btn-poll-wrap {
  margin-top: 66px;
}

.tabs__link-gav {
  width: 320px;
  text-align: center;
  padding-bottom: 19px;
  position: relative;
  opacity: .5;
  transition: all .3s;
  cursor: pointer;

  &:after {
    transition: all .3s;
    content: "";
    height: 2px;
    background-color: rgba($color: #000, $alpha: .2);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}


.tabs__link-gav.active {
  opacity: 1;
  cursor: default;

  &:after {
    background-color: #b99530;
  }
}



.tabs__link:not(.tabs__link_active):hover,
.tabs__link:not(.tabs__link_active):focus {
  opacity: 1;

}


.tabs__pane {
  display: none;
}

.tabs__pane.active {
  display: block;
}

.tabs-center-service.gav {
  max-width: 1920px;
  margin: 0;
  margin-left: auto;
  &:after{
    content: "";
    position: absolute;
    left:0;
    bottom:-197px;
    background-image: url(../img/des-mask-7.png);
    width: 303px;
    height: 891px;
    opacity:.5;
  }
}

.tab-wrap-gav {
  max-width: 1600px;
  margin-left: auto;
}

.gall-container {
  max-width: 960px;
}

.slide-gall {
  &__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between
  }

  &__left-imgs {
    display: flex;
  }

  &__left-top-img {
    width: 310px;
    height: 250px;
  }

  &__left-top-img:not(:last-child) {
    margin-right: 20px;
  }

  &__left-bottom-img {
    width: 200px;
    height: 250px;

  }

  &__left-bottom-img:not(:last-child) {

    margin-right: 20px;
  }

  &__right-img {
    overflow: hidden;
  }

  &__left-bottom {
    margin-top: 20px;
  }

  &__right-img {
    max-width: 300px;
    min-height: 524px;
  }

}

.nav__wrap {
  max-width: 640px;
}

.gav__nav {
  position: static;
  margin: 60px auto 0;
  width: 100%;

}

.gav-btn {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-align: center;
}

.swiper-button-prev-gall {
  position: relative;
  margin: 0px;
  left: 0;
  top: 0;
}

.swiper-button-next-gall {
  position: relative;
  margin: 0px;
  top: 0;
  right: 0;

  &::after {
    top: 0;
    right: 0;
    left: 0;

  }
}

.des-info {
  max-width: 640px;
  background-color: #fff;
  border-bottom: 1px solid rgba($color: #000000, $alpha: .2);

  &__wrapper {
    padding: 100px 0;
  }

  &__text {
    color: #000000;

    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
  }

  &__box {
    color: #000000;
 
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin: 39px 0px;

  }

  &__list {
    display: flex;
    justify-content: space-between
  }

  &__list:not(:first-child) {
    margin-top: 28px;
  }

  &__item {
    max-width: 170px;
    padding: 0 1px;
  }

  &__item-name {
    &:after {
      top: 6px;
    }
  }

  &__info {
    color: #000000;

    font-size: 32px;
    line-height: 36px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    max-width: 240px;
  }

  &__info-span2 {
    font-size: 19px;
    line-height: 20px;
    font-weight: 600;
  }
}



.cont-lie {
  position: relative;

  &::After {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background-image: url(../img/des-img-mask-1.png);
    width: 493px;
    height: 423px;
    opacity: .3;
  }
}

.btn-poll {
  z-index: 9999;
  position: relative;
  background-color: #000;
  color: #e2bc52;

  font-size: 16px;
  font-weight: 500;
  padding: 20px 51px;
  line-height: 20px;
  display: inline-block;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: #e2bc52;
    color: #000;
  }

}




.staffer {
  max-width: 1280px;
  margin: 0 auto;

  &__text {
    margin-top: 30px;
    max-width: 1244px;




    color: #000000;

    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    /* Text style for "Архитектур" */
    & span {
  
      font-weight: 600;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
    }

    & p {
      margin-top: 30px;
    }
  }
}

.staffer {
  z-index: 99999;
  position: relative;

  &__content {
    margin-top: 106px;
    display: flex;
  }

  &__content-left {
    max-width: 852px;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      left: -35px;
      top: 0;
      width: 35px;
      height: 100%;
      background-image: url(../icons/line-min.svg);
    }
  }

  &__left-title {
    background-color: #000;
    color: #fff;

    font-size: 32px;
    font-weight: 600;
    line-height: 24px;
    padding: 29px 0 26px 81px;

    & span {
      color: #e2bc52;
      font-weight: 600;
    }
  }

  &__content-left-img {
    max-height: 495px;
    background-size: contain;
    background-repeat: no-repeat;

  }

  &__left-text {
    display: flex;
    justify-content: space-around;
    padding: 17px 0 13px;
    max-width: 640px;
  }

  &__info-info {
    margin-top: 4px;
  }

  &__right-title {
    padding: 11px 0 13px;
background-color: #fff;
  }

  &__center {

  }
  &__right-item{
    margin: 0 auto;
    max-width: 180px;
  }
  &__padding {

  
  }

  &-slide__img {
    max-height: 495px;
    max-width: 430px;
  }

  &__content-right {
    max-width: 461px;
  }

  &__right-info {
    background-color: #000;
    margin-top: -5px;
    max-width: 430px;
  }

  &__right-info-wrapper {

    padding: 22px 0px;
    display: flex;
    justify-content: space-between;
    max-width: 372px;
    margin: 0 auto;
  }

  &__right-info-text {
    color: #ffffff;

    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  &__price-text {
    max-width: 1244px;
  }

  &__price-list {
    padding: 79px 0 180px;
  }

  &__page-text {
    color: rgba($color: #000000, $alpha: .5);
  }
  &__price{
    margin-top: 94px;
  }
}

.des-container {
  max-width: 461px;
  overflow: hidden;
}

.des__nav {
  display: flex;
  align-self: center;
  width: 187px;

}

.des-btn {
  height: 25px;
  margin-right: 30px;
}

.staffer__right-nav .swiper-pagination-total {
  color: #Fff;

}

.staffer__right-nav .swiper-pagination {
  color: #Fff;
}

.button-prev-des,
.button-next-des {
  width: 35px;
  height: 20px;
  transform: rotate(180deg);

  &:after {
    position: static;
    width: 35px;
    height: 20px;
    background-image: url(../icons/arrow-fff.png);
    opacity: .5;
  }

  &:hover {
    &:after {
      position: static;
      width: 35px;
      height: 20px;
      background-image: url(../icons/arrow-fff.png);
      opacity: 1;
    }

  }
}


.tabs-item.active-ter {
  color: #e2bc52;

  &::after {
    right: 5px;
  }
}

.kit {
  padding-top: 80px;
}

.contacts {
&:After{
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-image: url(../img/contacts-mask-6.png);
  width: 903px;
  height: 388px;
  opacity: .1;
}
  max-width: 1600px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;

  &__inner {
    padding-top: 66px;
    max-width: 320px;
    z-index: 9999;
    position: relative;
  }

  &__title {
    color: #000000;
  
    font-size: 56px;
    font-weight: 600;
    line-height: 60px;
  }

  &__list {
    margin-top: 72px;
  }

  &__item {
    display: flex;
  }

  &__item:not(:first-child) {
    margin-top: 78px;
  }

  &__imgs {
    margin-right: 30px;
    background-color: #000;
    width: 42px;
    height: 42px;
    position: relative;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  &__name {
    opacity: 0.5;
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;

  }

  &__content {
    color: #000000;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;

    & p {
      color: #000000;
      font-size: 16px;
      font-weight: 600;

    }
  }

  &__btn {
    margin-top: 128px;

   
  }
  
  &__map-wrapper {
    position: relative;
    z-index: 99999;
  }

  &__map-google {
    width: 860px;
    height: 1000px;
  }
}




.transform-map-1 {
  top: 300px
}

.transform-map-2 {
  top: 350px
}

.transform-map.active {
  color: #b99530;

}

.transform-map {
  cursor: pointer;
  transition: all .3s;

}

.contacts__map-item {
  display: none;
}

.contacts__map-item.active {
  display: block;
}

.mfp-wrap{

}

.menu-popin {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  left: 0;
overflow: hidden;
  &__hide {
    display: none;
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    left: 0;
    position: relative;

    &::After {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-image: url(../img/pop-img.png);
      width: 577px;
      height: 665px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    //  background-color: rgba($color: #fff, $alpha: .5);
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__wrap {
    position: relative;
    z-index: 99999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

  }

  &__wrap-n {
    width: 100%;
  }

  &__list {
    width: 100%;
    padding-right: 5px;
    position: relative;
  }

  &__item:not(:first-child) {
    margin-top: 49px;
  }

  &__item {
padding-left: 60px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;

  }

  &__link {
    color: rgba($color: #fff, $alpha: .5)
  }

  &__tabs-content {
    display: none;
  }

  &__tabs-content.active {
    display: block;
  }

  &__tab {
    margin-top: 160px;
    cursor: pointer;
    transform: rotate(90deg);
  }

  &__tabs {
    position: absolute;
    left: -150px;
    top: 0;
  }

  &__tab-text {
    white-space: nowrap;
    color:rgba($color: #ffff, $alpha: .5);
    transition: all .3s;

    padding: 20px 70px 0;
    border-top: 2px solid #fff;
    // max-height: 40px;
  }

  &__tab-imgs {
    position: absolute;
    left: 50%;
    bottom: 55px;


    width: 21px;
    height: 21px;
  }

  &__tab-img {
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s;
  }

  &__tab-img-phone {
    background-image: url(../icons/tell-opacity.png);
    width: 20px;
    height: 21px;
  }

  &__tab-img-massege {
    background-image: url(../icons/massege-opacity.png);
    width: 21px;
    height: 20px;
  }

}
.tabs__service-content-list-item{
  & span{
    color: #f21b1b;
  }
}
.form-tell {
  &__title {
    color: #ffffff;
    font-size: 56px;
    line-height: 80px;
    text-align: center;
  }

  &__text {
    text-align: center;
    color: #e2bc52;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 30px;
    max-width: 481px;
  }

  &__wrap {
    margin-top: 61px;
  }

  &__link {
    margin-top: 60px;
  }

  &__btn {
    margin: 33px auto 0;
  }

  &__link-text {
    max-width: 356px;
    margin: 0 auto;
    text-align: center;
  }
}

.menu-popin__tab-text.active {
  border-top: 2px solid #b99530;
  color: #fff;
}

.form-page__right-btn.ver {
  text-align: center;
}

.menu-popin-f .page-wrapper-line-2::after {
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 1px;
  background-color: rgba(#ffff, .1);
}

.mfp-container{
  height: auto;
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999999;
  overflow: hidden;
  position: fixed;
  opacity: .99;
  background-color: #000;
}

.mfp-close {
  width: 88px;
  height: 64px;
  position: absolute;
  right: auto;
  left: 15px;
  top: 0;
  opacity: 1;
  padding: 0 0;
  color: #fff;
  background-color: #e2bc52;
  font-size: 0;

  &::after {
    content: "";
    position: absolute;
    background-image: url(../icons/close.svg);
    width: 25px;
    height: 25px;
    top: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

button.mfp-arrow,
button.mfp-close {
  background-color: #e2bc52;
}

.transform-pop {
  top: 125px;
  background-color: transparent;
  z-index: 999999;
 
 



}

.transform-text-pop {
  color: #fff
}

.pop-2 {
  left: 222px
}

.pop-3 {
  top: 444px;
}

.form-tell {}

.menu-popin__tabs-content {
  max-width: 640px;
  margin: 0 auto;
}

.menu-popin .form-page__textarea {
  background-color: transparent;
  color: #fff;
  min-height: 100px;
  width: 100%;
  color: #fff;
  
}
.form-page__inner-wrap.des{
padding:90px 50px ;
}
textarea{
  resize: none;
  background-color: transparent;
  color: #fff;
  overflow-y: hidden;
}
textarea:focus{
background-color: transparent;
color: #fff;
}

.menu-popin .form-page__right-name-mar {
  margin-right: 0;
}

.menu-popin__tab-img-phone.active {
  background-image: url(../icons/tell-opacity-1.png);
}

.menu-popin__tab-img-massege.active {
  background-image: url(../icons/massege-opacity-1.png)
}

.link-active.active-v{
  color: #e2bc52;
}
.menu-popin__wrap {
width: 100%;
}
.map-mobile-wrap{
  position: absolute;
  left: 50%;
  top: 200px;
}
.jq-selectbox li{
  background-color: #fff;
  position: relative;
  z-index: 9999999999;
 
}

@-webkit-keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}
@keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}



@keyframes sheeniing {
  0% {
    top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
          transform: skewX(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewX(-45deg) translateX(18.5em);
          transform: skewX(-45deg) translateX(18.5em);
  }
  
}

.btn-12{
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: #e2bc52;
  font-size: 24px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  background-color: #000;


  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
}
.btn-12:before {
  content: "";
  background-color: rgba(255, 255, 255, .8);

  height: 100%;
  width: 50px;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
          transform: skewX(-45deg) translateX(0);
  animation-name: sheeniing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
 
  
}
.btn-12:hover {
  background-color:#e2bc52;
  color: #fff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);
}
.btn-12:hover:before {
  -webkit-transform: skewX(-45deg) translateX(18.5em);
          transform: skewX(-45deg) translateX(18.5em);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.9s ease-in-out;

}



/* Контейнер флип-карт - установите ширину и высоту на все, что вы хотите. Мы добавили свойство border, чтобы продемонстрировать, что сам флип выходит из коробки при наведении (удалите перспективу, если вы не хотите 3D-эффект */
.flip-card {
  background-color: transparent;
  width: 320px;
  height: 470px;
  perspective: 1000px; /* Удалите это, если вы не хотите 3D-эффект */
}

/* Этот контейнер необходим для того чтобы расположить переднюю и заднюю сторону */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Сделайте горизонтальный флип, когда вы перемещаете мышь над контейнером флип-бокса */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Расположите переднюю и заднюю стороны */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Стиль лицевой стороны (запасной вариант, если изображение отсутствует) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Стиль задней стороны */
.flip-card-back {

  transform: rotateY(180deg);
  max-width: 320px;
  padding: 50px;
  background-color: #B99530;
  transition: all .3s;
  min-height: 470px;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
}

.form-page__btn.btn-12{
background-color: #e2bc52;
color: #000;
}

.swiper-button-next {


    &:after {
    top: 5px
      
    }

}
.tabs__content-btn.btn-12{
margin-top: 30px;
}
.clients__img.two{
  background-color: #c01c2d;
  height: 81px;
  width: 200px;
}
.slider-weap{
  position: relative;
  transition: all .3s;
}
.gall-imgs.hover{
  opacity: .5;

}






@import 'base/mixins';